<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="me.xlgp.xiquzimu">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="me.xlgp.xiquzimu.ZimuApplication"
        android:allowBackup="false"
        android:debuggable="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_zh_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.XiQuZiMu"
        tools:ignore="HardcodedDebugMode">
        <activity
            android:name="me.xlgp.xiquzimu.ui.fetchlist.ListActivity"
            android:exported="true" />
        <activity
            android:name="me.xlgp.xiquzimu.ui.main.NavMainActivity"
            android:theme="@style/Theme.XiQuZiMu.StartWindowTheme"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="me.xlgp.xiquzimu.service.FloatingService" />
        <service android:name="me.xlgp.xiquzimu.service.PinglunLifecycleService"/>
        <service
            android:name="me.xlgp.xiquzimu.service.DouYinAccessibilityService"
            android:exported="false"
            android:label="@string/accessibility_service_label"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />
        </service>
    </application>

</manifest>